<% provide(:title, 'About') %>

<h1>About Simple IP</h1>

<%= render 'static_pages/static_open' %>

<p>Managing patents shouldn't be a chore.</p>

<p>Developed by experienced patent practitioners, Simple IP provides a simple platform that allows you to discover, organize and share patents.</p>

<%= render 'static_pages/static_close' %>