<% provide(:title, 'Contact') %>

<h1>Contact Us</h1>

<%= render 'static_pages/static_open' %>

<p>You can reach us at: info [at] simpleip {dot} com.</p>

<p>(Use the '@' symbol and '.', of course - we're trying to keep spammers from scraping our email address).</p>

<%= render 'static_pages/static_close' %>

