<% provide(:title, 'Frequently Asked Questions') %>

<h1>Frequently Asked Questions</h1>

<!--

<p class="lead">Do you provide a patent search function?</p>
<p>No.  We don't have a better way to search for patents than those offered by the USPTO and other websites.  We suggest that you use those tools if you want to conduct searches.  We've used proprietary patent search engines from a variety of IP analytics firms over the last decade, include semantic or natural language search engines that purport to 'score' results by relevance.  We can't compete with those, nor do we try.  However, we have not found any proprietary search algorithm offered by any IP analytics firm that can find patents with the relevance of references revealed from a search conducted by a skilled patent practitioner using a basic boolean search.</p>

<p>Because of that, we have focused providing tools for organizing and visualizing patent data based on patents that you provide - even if it's organizing your own patent portfolio.</p>

<p class="lead">For which years are patent data available?</p>
<p>We can generally provide more comprehensive data for patents from as early as 1970.  Because patents from before 1970 are made searchable via OCR, data from those patents may not be available or particularly accurate.  The databases that we use are more or less up-to-date, but we can't guarantee that we will have data for patents issued or patent applications published within the last six months or so.</p>

-->

