<% provide(:title, 'Home') %>

<div class="center jumbotron">
	<h1>Welcome to simple IP<small>.beta</small></h1>

	<h3>Discover. Organize. Share.</h3>
	<%= link_to "Join Now!", '#', class: "btn btn-primary btn-lg active" %>
	<%= link_to "Sign In", sign_in_path, class: "btn btn-default btn-lg active" %>
</div>
