<% provide(:title, 'Privacy') %>

<h1>Our Privacy Policy</h1>

<%= render 'static_pages/static_open' %>

<p>We use reasonable measures to keep your account information and patent data secure.  However, please keep in mind that no website is 100% secure, including this one.</p>

<p>We do track how our website is used, and we may use the information that we obtain from you or through your use of this site to improve this site.</p>

<%= render 'static_pages/static_close' %>