<% provide(:title, 'Sign Up') %>

<h1>Sign Up</h1>

<%= render 'static_pages/static_open' %>

<p>Sorry!  Right now we are in closed beta, and are only allowing use by invitation.</p>

<p>If you would like to be notified when we move to open beta or production mode, please <a href="/contact">contact</a> us.  Thank you for your interest!</p>

<%= render 'static_pages/static_close' %>