<% provide(:title, 'About') %>

<h1>Sign In</h1>

<%= render 'static_pages/static_open' %>

<p>We are in closed beta.  If you have an account with us, please log in below.</p>

<%= render 'static_pages/static_close' %>