<% provide(:title, 'Terms') %>

<h1>Terms of Use</h1>

<p> By using our Simple IP website, you understand and agree to the following:</p>

<ol>
  	<li>We rely on third-party databases, and so cannot guarantee that patent data will be available or accurate for every patent or patent application that you provide.</li>

  	<li>You will not use this site for any malicious purpose.</li>

  	<li>You are responsible for activity occurring under your account name. Please keep your login and password in a safe place.</li>

</ol>
