<% provide(:title, current_user.name) %>

<div class="container-fluid">
  <div class="row">
    <h1>
    <%= current_user.name %>'s Home Page
    </h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <h3>
    add patent results
    </h3>
  </div>
</div>

