<% provide(:title, 'Join Now!') %>

<h1>Sign Up</h1>

<%= render 'users/users_open' %>

<p>Sorry!  Right now we are in closed beta, and are only allowing use by invitation.</p>

<p>If you would like to be notified when we move to open beta or production mode, please <%= link_to "contact", contact_path %> us.  Thank you for your interest!</p>

<%= render 'users/users_close' %>