<% provide(:title, @user.name) %>

<div class="container-fluid">
  <div class="row">
    <h1>
    <%= @user.name %>'s User Profile
    </h1>
  </div>

  <div class="row">
  	<h3>
	<%= gravatar_for @user %>
	<%= @user.name %>
	<br><%= @user.email %></br>
	</h3>
</div>



