<% provide(:title, 'Sign In') %>

<h1>Sign In</h1>

<%= render 'users/users_open' %>

<p>We are in closed beta.  If you have an account with us, please log in below.</p>

<%= render 'users/users_close' %>