@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc */

$asphalt: #555;
$black: #222;
$red: #f00f00;
$lightGray: #999;
$grayMediumLight: #eaeaea;
$darkGray: #696969;
$white: #fff;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal using SASS nesting */

html {
	overflow-y: scroll;
}

body {
	padding-top: 70px;
	padding-left: 30px;
	padding-right: 30px;
}

ul {
	list-style-type: none;
}

ol {
	top-margin: 50px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1	{
		margin-bottom: 10px;
	}
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;
}

footer a {
  color: $asphalt;
}

footer a:hover {
  color: $black;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 15px;
	text-align: center;
	font-weight: normal;
	color: $lightGray;
}

h3 {
	font-size: 1.5em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $lightGray;
}

h4 {
	font-size: 1.3em;
	letter-spacing: -1px;
	text-align: left;
	font-weight: normal;
	color: $red;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	color: $darkGray;
}

.breadcrumb	{
	margin-top: 15px;
	background-color: $white;
	margin-bottom: 15px;
}

.nav.nav-pills	{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.dropdown-menu.dropdown-menu-right {
	margin-right: 98px;
}

/* header using SASS nesting */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

.panel-body {
	text-align: center;
}

.btn.btn-primary.btn-lg.active	{
	background-color: $red;
}

/* debug style */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

#error_explanation {
  color: $red;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}